<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs", {connected: false}) %>

<div class="container">
<h2>Products</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product Class</th>
      <th>Product Code</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach(function(r) { %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.productclass %></td>
      <td><%= r.productcode %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

</div>

</body>
</html>
