<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Edit Profile</h2>

<% if (contact) { %>
  <form action="/profile/edit" method="POST">
    <table>
      <tr>
        <th>Last Name</th>
        <td><input type="text" name="lastname" value="<%= contact.lastname %>"></td>
      </tr>
      <tr>
        <th>First Name</th>
        <td><input type="text" name="firstname" value="<%= contact.firstname %>"></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><input type="text" name="phone" value="<%= contact.phone %>"></td>
      </tr>
      <tr>
        <th>Mobile Phone</th>
        <td><input type="text" name="phone" value="<%= contact.mobilephone %>"></td>
      </tr>
    </table>
    <a class="btn btn-default" href="/profile" role="button">Cancel</a> / <button class="btn btn-default">Submit</button>
  </form>
  <% if (error) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
  <% } %>
<% } else { %>
  <div class="alert alert-danger" role="alert">Contact not found...</div>
<% } %>
</div>

</body>
</html>
