<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Profile</h2>

<% if (contact) { %>
<table>
  <tr>
    <th>Name</th>
    <td><%= contact.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= contact.email %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= contact.phone %></td>
  </tr>
  <tr>
    <th>Mobile Phone</th>
    <td><%= contact.mobilephone %></td>
  </tr>
</table>
<a class="btn btn-default" href="/profile/edit" role="button">Edit your profile</a>
<% } %>
</div>

</body>
</html>
